<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Configurator.Properties.Settings>
			<setting name="Repositories" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>http://www.mediabrowser.tv/plugins/plugin_info.xml</string>
					</ArrayOfString>
				</value>
			</setting>
		</Configurator.Properties.Settings>
	</userSettings>
	
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<runtime>
		<assemblyBinding
		 xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.MediaCenter"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.0.3000.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.0.3100.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.0.6000.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.MediaCenter.UI"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.0.3000.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.0.3100.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.0.6000.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="ehRecObj"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.0.3000.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.0.3100.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.0.6000.0"
					newVersion="6.2.0.0"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="ehShell"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="Microsoft.MediaCenter.Shell"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="mcstore"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="mcstoredb"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="ehiExtens"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="BDATunePIA"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="mcstore"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="mcstoredb"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="mcepg"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity
					name="ehiProxy"
					publicKeyToken="31bf3856ad364e35"
					culture="neutral"
						/>
				<bindingRedirect
					oldVersion="6.1.0.0"
					newVersion="6.2.0.0"
						/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
